/*
# 豆瓣日记打印优雅版 #
* English Name: Douban note more friendly print view.

* Description: 用于保存豆瓣日记为PDF时的排版，更优雅。去掉了不想干的导航，搜索，侧边栏等不需要的东西。
* Version:1.0.1119
* Author: linjie (http://linjie.me)
* Website: http://linjie.me/save-douban-note-more-friendly/
* Code: http://github.com/linjiex/linjie-stylish-code
* Install: http://userstyles.org/styles/95222/theme
*/
@-moz-document url-prefix("http://www.douban.com/note") {
@media print{
	#db-global-nav, #db-nav-sns, #last, #add_comment{
  		display:none;
	}
    div.aside{
    	display:none;
    }
    .grid-16-8 .article{
    width:90%;
        float:none;
        padding:40px;
  }
}
}
