/*
Name: 知乎打印优雅版
English Name: Zhihu more friendly print view.
Description: 用于保存知乎文档为PDF时的排版，更优雅。去掉了不想干的导航，搜索，侧边栏等不需要的东西。
Version:1.0.1027
Credit: linjie
Website: http://linjie.me/save-zhihu-more-friendly
Code: http://github.com/linjiex/linjie-stylish-code
Install: http://userstyles.org/styles/94502/theme
*/

@-moz-document domain('www.zhihu.com'){
	@media print{
		.zu-top, .zu-main-sidebar, .zm-tag-editor, .zg-section, .zm-editable-editor-wrap{
	  		display:none;
		}
		
		#comments{
	      	display:none;
		}
		
		footer, button{
	      	display:none;
		}

		#zh-question-title h2.zm-item-title{
	      	font-size:32px;
		}
		
		#zh-single-question{
	      	margin: 0 100px 0 48px
		}
	}
}