/*
Name: 知乎专栏打印优雅版
English Name: Zhihu columns more friendly print view.
Description: 为知乎专栏重新设计的一个打印排版，隐藏了干扰性的图素。
Version:1.0.1031
Credit: linjie (http://linjie.me)
Website: http://linjie.me/save-zhihu-column-more-friendly
Code: http://github.com/linjiex/linjie-stylish-code
Install: http://userstyles.org/styles/94628/theme
*/

@-moz-document domain('zhuanlan.zhihu.com'){
	@media print{
		.sidebar, .posts-navigator, .navbar-logo-container, .btn{
		  display:none;
		}
	
		#comments{
		      display:none;
		}
	
		footer{
		      display:none;
		}
	
		button{
		      display:none;
		}
	
		h1.entry-title{
		      font-size:25px;
		      color:#ddd;
		}
	}
}